<%- include('header'); -%>
<!--  <%  if(currentDay == 0 || currentDay == 6) {   day="weekend"; %>
  <%  }else{  day="working day"; } %> -->
<div class="box">
<div id="heading">
  <h1 >
    <%= kindOfDay %>
  </h1>
</div>
 <form class="Delete" action="/delete" method="post">

       <!-- <% // for(var i=0;i<l;i++){ %> -->

       <% itemslist.forEach(function(obj){ %>
         <div class="item"><input type="checkbox"><p><%=obj.name%></p>
           <button type="Delete" name="DeleteBtn" value=<%=obj._id%>>&#10229</button></div>
     <%  }) %>

       <%//}%>



 </form>


  <form class="item" action="/" method="post">
    <input placeholder="Enter To Add" type="text" name="AddToList" autocomplete="off" >
    <button type="Add" name="AddBtn" value="<%= kindOfDay %>">+</button>
  </form>
</div>

<%- include('footer'); -%>
